<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="js/bootstrap.min.css">
    <style>
        .container {
            width: 50%;
            margin: 20px auto 0px auto;
        }
    </style>
</head>
</head>
<body>
<div id="app" class="container">
    <h1>登录</h1>
    <form class="form-inline">
        <div class="form-group">
            <label for="work_id">用户名</label>
            <input type="text" class="form-control" id="work_id" placeholder="work_id" v-model="user.username">
        </div>
        <div class="form-group">
            <label for="work_title">密码</label>
            <input type="text" class="form-control" id="work_title" placeholder="work_title"
                   v-model="user.password">
        </div>
        <button @click="submitUser" class="js-add btn btn-default" type="button"> 登录</button>

    </form>
</div>
<script>
    data = {
        user: {
            name: "name",
            password: "pass"
        }
    }

    var app = new Vue({
        el: "#app",
        data: {
            user: {
                username: "",
                password: ""
            }
        },
        methods: {
            submitUser: function () {
                console.log(this.user);
                $.ajax({
                    type: "POST",
                    url: '/accounts/login/',
                    data: this.user,
                    dataType: "json",
                    success: function (response) {
                        // this.jobs.push(this.new_work);  //push一直有问题，暂时用get代替
                        console.log(response);
                    }
                });

            }
        }

    })
</script>
<script>

</script>
</body>
</html>